.leading{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

// .container{
//   margin: 40px 0px;
//   margin-right: auto;
//   margin-left: auto;
//   padding-left: 15px;
//   padding-right: 15px;
// }

.container h1 {
  text-align: center;
}
