.description-plant i{
  font-size: 21px;
}
.show-plant{
  margin: 20px 0px;
}

// Links
.share-links {
  display: flex;
  align-items: center;
  margin: 10px 0px;
  display: flex;
  align-items: center;

}
.share-link {
  flex: 0 0 18%;
  color: white;
  font-size: 18px;
  padding: 7px 0;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
  &:hover {
  color: white;
  }
}
.bg-text {
  background: #4a4a4a;
}
.bg-email {
  background: #aeaeae;
}
.bg-twitter {
  background: #00a3e1;
}
.bg-facebook {
  background: #3b5998;
}

.form-book{
  color: $green;
  font-size: 18px;
  padding: 20px 20px;
  border: 3px solid #f0efef;
  display: flex;
  align-items: center;
  background: #EBEBEB;
}

.form-book-col{
  background-color: #EBEBEB;
}
.title-index h1 {
  padding-bottom: 0px;
}

.title-index h2 {
  margin-top: 5px;
  padding-bottom: 30px;
}
