
.wrapper_plant_infos {
  margin: 0px 35px;
 }
.review-comment{
  border-bottom: 1px solid $green;
  margin-bottom: 10px;
}

.plant-aside{
  height: 100vh;
  background-size: cover;
  border-radius: 5px;
  box-shadow: 1px 1px 2px $gray;

}

.box-profil{
  padding: 10px;
}

.form-book{
  margin: 40px 0px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px $gray;
}

.plant-title {
  font-weight: bold;
  text-align: center;
}

.plant-picture {
  margin: 100%;
  height: 200px;
}

#map{
  margin-top: 3em;
}
.title-index-h1 {
  padding-bottom: 0px !important;
  font-size: 35px;
}

.title-index-h2 {
  padding-bottom: 20px;
  margin-bottom: 20px;
  font-size: 28px;
}



.description-plant i{
  font-size: 21px;
}
.show-plant {
  margin: 20px 0px;
}

// Links
.share-links {
  display: flex;
  align-items: center;
  margin: 10px 0px;
  display: flex;
  align-items: center;

}
.share-link {
  flex: 0 0 18%;
  color: white;
  font-size: 18px;
  padding: 7px 0;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
  &:hover {
  color: white;
  }
}
.bg-text {
  background: #4a4a4a;
}
.bg-email {
  background: #aeaeae;
}
.bg-twitter {
  background: #00a3e1;
}
.bg-facebook {
  background: #3b5998;
}

.form-book{
  color: $green;
  font-size: 18px;
  padding: 20px 20px;
  border: 3px solid #f0efef;
  display: flex;
  align-items: center;
  background: #EBEBEB;
}

.form-book-col{
  background-color: #EBEBEB;
}


.map-plant {
}


#user-name{
text-align: right;
}

h5{
  color: #767676;
}

p {
  color: #484848;
}
