<div class="tabs">
  <a class="tab active" data-target="#infos">
    <h3>Personnal information</h3>
  </a>
  <a class="tab" data-target="#plants">
    <h3>My plants</h3>
  </a>
  <a class="tab" data-target="#bookings">
    <h3>My bookings</h3>
  </a>
</div>
