<div class="profile-header-wrapper navbar-marged" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path "prairie.jpg"%>');">
  <div class="container profile-header-container text-center">
    <div class="profile-header-infos">
      <%= render 'profile-info' %>
    </div>
    <%= render 'tabs' %>
  </div>
</div>

<%= render 'tab-content' %>
