<div class="navbar-marged">
<h1 style="text-align:center">Nature is everywhere</h1>
  <div class="container">
    <div class="row">
    <% @plants.each do |plant| %>
      <% if plant.photo %>
        <div class="col-xs-12 col-md-6 col-lg-4">
          <%= render 'shared/card', plant: plant %>
        </div>
      <% end %>
    <% end %>
   </div>
  </div>
</div>
