<div class="container">
  <div class="row">
    <div class="col-xs-6 col-md-offset-3 navbar-marged">
      <h1>Add a new plant</h1>
    </div>
  </div>
</div>
    <%= render 'plants/form', plant: @plant %>
