.card {
  margin-bottom: 20px;
  height: 250px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: white;
  position: relative;
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 11px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 16px;
  padding-bottom: 8px;
}
.card-description p {
  font-size: 15px;
  }
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.card-link:hover{
  opacity: 0.1;
}

.card-title {
  margin-top: 12px;
  color: black;
  font-size: 18px;
  text-align: center;
  font-family: Dosis;

}

.card-title:hover {
  opacity: 0.7;
  color: green;
  text-decoration: none;
}

.card-wrapper h1 {
  text-align:center;
  padding-top: 10px;
}
